---
import ProductCard from "../Shared/Card/ProductCard.astro";
import Button from "../Shared/Button/Button.astro";
import Divider from "../Shared/Divider/Divider.astro";

import styles from "./RecomendedProducts.module.css";

interface Product {
  imgUrl: string;
  name: string;
  price: string;
  href: string;
}

interface Props {
  title: string;
  products: Product[];
  displayAddProducts?: boolean;
  displayCardButtons?: boolean;
}

const {
  title,
  products = [],
  displayAddProducts = false,
  displayCardButtons = false,
} = Astro.props;
---

<section class="container">
  <h1 class={styles.recommended_section_title}>{title}</h1>
  <div class={styles.cards_container}>
    {
      products.length > 0 &&
        products.map((product) => (
          <ProductCard
            imgUrl={product.imgUrl}
            name={product.name}
            price={product.price}
            href={product.href}
            displayCardButtons={displayCardButtons}
          />
        ))
    }
  </div>
  {
    displayAddProducts && (
      <Button color="purple" customClass="centeredButton">
        Añadir productos
      </Button>
    )
  }
  <Divider />
</section>
