---
import classnames from "classnames";

import BagIcon from "./components/BagIcon.astro";
import HeartIcon from "./components/HeartIcon.astro";

import billify_logo from "./public/Billify-logo.png";

import styles from "./Navigation.module.css";
// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<header class={styles.header}>
  <div class={styles.header_container}>
    <a href="/">
      <figure class={styles.header_logo}>
        <img src={billify_logo.src} alt="Billify Logo" />
      </figure>
    </a>

    <div class={classnames(styles.display_on_mobile, styles.bag_icon)}>
      <BagIcon />
    </div>
    <label
      for="menu-toggle"
      class={classnames(
        styles.header_hamburguer_label,
        styles.display_on_mobile
      )}
    >
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input
      type="checkbox"
      id="menu-toggle"
      name="menu-toggle"
      class={styles.header_hamburguer_check}
    />

    <div class={styles.header_row}>
      <nav class={styles.header_menu}>
        <ul class={styles.header_links}>
          <li class={classnames(styles.header_item, styles.dropdown)}>
            <a href="/" class={styles.header_link}>Servicios</a>

            <div class={styles.dropdown_content}>
              <ul class={styles.header_submenu}>
                <li><a class={styles.header_link} href="#">Peluquería</a></li>
                <li>
                  <a class={styles.header_link} href="#">Maquillaje</a>
                </li>
                <li>
                  <a class={styles.header_link} href="#">Uñas</a>
                </li>
                <li>
                  <a class={styles.header_link} href="#">Estética</a>
                </li>
              </ul>
            </div>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}>Productos</a>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}>Bodas</a>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}>Estilos</a>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}>Blog</a>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}>Iniciar sesión</a>
          </li>
          <li class={classnames(styles.header_item, styles.reservation_link)}>
            <a href="/" class={styles.header_link}>Reserva</a>
          </li>
          <li class={classnames(styles.header_item, styles.dropdown)}>
            <a href="/" class={styles.header_link}>ES</a>

            <div class={styles.dropdown_content}>
              <ul
                class={classnames(
                  styles.header_submenu,
                  styles.language_dropdown
                )}
              >
                <li><a class={styles.header_link} href="#">ES</a></li>
                <li>
                  <a class={styles.header_link} href="#">EN</a>
                </li>
              </ul>
            </div>
          </li>
          <li class={styles.header_item}>
            <a href="/" class={styles.header_link}><HeartIcon /></a>
          </li>
          <li class={classnames(styles.header_item, styles.display_on_desktop)}>
            <a href="/" class={styles.header_link}><BagIcon /></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
