---
import google_play from "./public/google_play.svg";
import app_store from "./public/app_store.svg";

import facebook from "./public/facebook.png";
import instagram from "./public/instagram.png";
import twitter from "./public/twitter.png";

import arrow from "./public/arrow_right.png";

import visa from "./public/visa.png";
import master_card from "./public/master_card.png";
import maestro from "./public/maestro.png";
import amex from "./public/amex.png";

import made_by from "./public/made_by.png";

import styles from "./Footer.module.css";
---

<footer>
  <div class={`container-fluid ${styles.footer_container}`}>
    <div class="row">
      <div class={`col-md-12 ${styles.footer_column_container}`}>
        <div class={styles.footer_column}>
          <p>App</p>
          <div class={styles.app_column_img_container}>
            <img src={google_play.src} alt="logo" class="img-fluid" />
            <img src={app_store.src} alt="logo" class="img-fluid" />
          </div>
        </div>

        <div class={styles.footer_column}>
          <ul>
            <li class={`dropdown`}>
              <a
                class={`dropdown-toggle ${styles.footer_column_title}`}
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tienda
              </a>
              <ul class={`dropdown-menu ${styles.footer_dropdown_menu}`}>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Servicios</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Productos</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Bodas</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Estilos</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Locales Bellify</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class={styles.footer_column}>
          <ul>
            <li class={`dropdown`}>
              <a
                class={`dropdown-toggle ${styles.footer_column_title}`}
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sobre Bellify
              </a>
              <ul class={`dropdown-menu ${styles.footer_dropdown_menu}`}>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Nuestro Equipo</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Partners</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Blog</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Reviews</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Prensa y medios</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Únete a nosotros</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class={styles.footer_column}>
          <ul>
            <li class={`dropdown`}>
              <a
                class={`dropdown-toggle ${styles.footer_column_title}`}
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ayuda
              </a>
              <ul class={`dropdown-menu ${styles.footer_dropdown_menu}`}>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">FAQ</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Términos y condiciones</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Privacidad</a>
                </li>
                <li class={``}>
                  <a class={`dropdown-item`} href="#">Contacto</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class={`${styles.footer_column} ${styles.footer_socials}`}>
          <p>Síguenos</p>
          <ul>
            <li><a href="$"><img src={twitter.src} /></a></li>
            <li><a href="$"><img src={facebook.src} /></a></li>
            <li><a href="$"><img src={instagram.src} /></a></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class={styles.footer_divider} />

    <div class="row">
      <div class={`col-md-12 ${styles.newsletter_row}`}>
        <form class={styles.footer_newsletter_form}>
          <label>Newsletter</label>
          <input type="text" placeholder="Nombre" />
          <div class={styles.email_n_button_container}>
            <input type="email" placeholder="Correo electrónico" />
            <button><img src={arrow.src} /></button>
          </div>
        </form>
        <div class={styles.payment_types}>
          <ul>
            <li><img src={visa.src} /></li>
            <li><img src={master_card.src} /></li>
            <li><img src={maestro.src} /></li>
            <li><img src={amex.src} /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class={styles.rights_reserved}>
    <div class={`container-fluid`}>
      <div class="row">
        <div class={styles.rights_reserved_container}>
          <p class={styles.footer_copy}>
            © 2019. Bellify. All rights reserved.
          </p>
          <p>
            Work done by
            <img src={made_by.src} />
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
